:root {
  --color-gray-text: #fff;
  --color-gray-100: #111;
  --color-gray-200: #222;
  --color-gray-300: #333;
  --color-gray-400: #43494C;
  --color-danger: #f44336;
  --color-warning: darkorange;
  --color-success: #4caf50;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --color-gray-text: #000;
    --color-gray-100: #eee;
    --color-gray-200: #ddd;
    --color-gray-300: #ccc;
    --color-gray-400: #bbb;
  }
} */
